{% extends "new_base.html" %}

{% block header %}
Информация о лекциях
{% endblock %}

{% block page_info %}
Далее приведены некоторые подробности создания проекта <br xmlns="http://www.w3.org/1999/html"/>
{% endblock %}

{% block button_class %}{% endblock %}

{% block content %}
<div class="blog-post">
        <h2 class="blog-post-title">Проект "Сайт для изучения аглийского языка"</h2>
        <p class="blog-post-meta"> Сделан 2 мая 2023 года Григорием Фетисовым</p>

        <h2>База данных</h2>
        <p>Данный проект строился в основном на шаблоне "Product" с сайта bootstrap. Однако вносились значительные изменения
        в содержание и логику работы проекта. Использовались некоторые точечные реализации проекта с лекций и семинаров.</p>
        <hr>
        <p>База данных по проекту находится в файле words.db. Состоит из двух таблиц: words и lessons. Таблицы синхронизированы с
            соответствующими таблицами на страницах сайта. То есть при добавлении и удалении элемента элемент также удаляется из таблицы в базе данных </p>
        <p>Модели ORM, соответствующие таблицам, лежат в файле proj-maths/models.py</p>
        <h3>Запуск приложения</h3>
        <p>Для запуска приложения требуется ввести следующую команду в терминале</p>
        <pre><code>python manage.py runserver</code></pre>
        <h3>Расположение файлов</h3>
        <ul>
          <li>HTML шаблоны располагаются в папке templates</li>
          <li>Статические элементы в папке static</li>
          <li>Взаимодействие с базой данных построено в файле proj_maths/terms_work.py и использует ORM</li>
          <li>Связь интерфейса и логики работы проекта реализована в файле proj_maths/views.py</li>
        </ul>
        <p>База данных была создана с помощью sqlite</p>
</div>
{% endblock %}